/* Import Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode by default */
.bg-light {
  background-color: white;
  color: black;
}

/* Dark mode */
.dark .bg-light {
  background-color: #121212; /* Dark background */
  color: white; /* Light text */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
